body {
    background-color: ivory;
}

.container h2 {
    background-color: darkred;
    color: ivory;
    border-radius: 5px;
    text-align: center;
}

.main_sec {
    text-align: center;

}

.main_sec input {
    background-color: rgb(255, 255, 255);
    color: darkred;

}

.main_sec button {
    background-color: dimgray;
    color: ivory;
}

#output {
    background-color: dimgray;
    color: ivory;
    border-radius: 5px;
}